<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bumbu yang sehat dan kaya akan rempah">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./public/logo/BE_favicon.png">
    <title>Home | Bumbu Eyang</title>
  </head>
  <body>


    <div id="page-container">
      <div id="content-wrap">
        
        <header-bar></header-bar>
        <drawer-bar></drawer-bar>
        <main>

          <section class="howtobuy" id="home">
            <div class="cta">
              <h1 class="heading">Cara Pembelian</h1>
          </section>
          <buying-section></buying-section>
          <div class="strip"></div>

          <section class="procedure">
            <div class="procedure__item">
              <h2>Whatsapp</h2>
              <ol>
                <li>Pilih Whatsapp pada tampilan Metode Pembelian.</li>
                <li>Anda akan langsung dialihkan ke aplikasi Whatsapp untuk mengirimkan pesan ke akun Bumbu Eyang. *Aplikasi Whatsapp hanya akan terbuka di handphone, jika anda menggunakan perangkat laptop/PC maka anda harus menyalin nomor telefon yang tertera di website untuk menghubungi Bumbu Eyang</li>
                <li>Ketikan produk yang ingin dipesan beserta kuantitasnya.</li>
                <li>Kirimkan pesan tersebut ke Whatsapp Bumbu Eyang.</li>
                <li>Tunggu hingga pemilik akun membalas pesan anda untuk konfirmasi pesanan.</li>
                <li>Jika sudah terkonfirmasi, ketikan alamat anda serta cara pembayaran (transfer bank).</li>
                <li>Produk akan dikemas dan dikirim jika uang telah ditransfer.</li>
              </ol>
            </div>

            <div class="procedure__item">
              <h2>Shopee</h2>
              <ol>
                <li>Pilih Shopee pada tampilan Metode Pembelian.</li>
                <li>Anda akan langsung dialihkan ke halaman toko Bumbu Eyang pada aplikasi/website Shopee.</li>
                <li>Jika sudah yakin maka anda bisa langsung menekan tombol Beli Sekarang.</li>
                <li>Akan muncul tampilan jumlah barang yang akan dibeli, masukan jumlah sesuai keperluan anda, lalu tekan tombol Beli Sekarang.</li>
                <li>Setelah itu, anda akan dialihkan ke tampilan keranjang. Centang barang yang akan dibeli lalu tekan tombol Checkout.</li>
                <li>Kemudian anda akan diperlihatkan tampilan detil pemesanan. Pilih alamat tujuan, kurir pengiriman, serta metode pembayaran sesuai kebutuhan anda.</li>
                <li>Jika semua sudah sesuai, maka anda bisa menekan tombol Buat Pesanan.</li>
                <li>Terakhir, anda akan diberikan petunjuk bagaimana melakukan pembayaran agar sistem Shopee dapat mendeteksi transaksi secara otomatis.                </li>
                <li>Produk akan dikemas dan dikirim ketika transaksi telah dikonfirmasi oleh sistem Shopee.</li>
              </ol>
            </div>
          </section>

          

        </main>

      </div>
      <footer-bar></footer-bar>
    </div>

  </body>
</html>
