<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bumbu yang sehat dan kaya akan rempah">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./public/logo/BE_favicon.png">
    <title>Home | Bumbu Eyang</title>
  </head>
  <body>

    <header class="header__toggle">
      <a class="logo" href="#">Bumbu Eyang</a>

      <div class="menu" id="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </header>

    <div class="navbar" id="navbar">
      <div class="container">
        <a class="logo" href="#">Bumbu Eyang</a>

        <nav>
          <ul class="primary-nav">
            <li><a href="#product">Produk</a></li>
            <li><a href="#recipe">Resep</a></li>
            <li><a href="#pembelian">Cara Pembelian</a></li>
            <li><a href="../../pages/contact.html">Hubungi Kami</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <main></main>

    <footer-bar></footer-bar>

    <payment-popup></payment-popup>
  </body>
</html>
