.header__toggle {
	display: none;

	.logo {
		text-decoration: none;
		font-family: "Dancing Script", cursive;
		font-size: 2vw;
		color: black;
		white-space: nowrap;
	}

  .menu {
    min-width: 44px;
    cursor: pointer;

    .bar {
      display: block;
      width: 35px;
      height: 3px;
      margin: 9px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }

}

.navbar {
  background: #f3ede7;
  padding: 2rem;
  // position: fixed;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

		.logo {
			text-decoration: none;
			font-family: "Dancing Script", cursive;
			font-size: 2.5vw;
			color: black;
			white-space: nowrap;
		}

    nav {
      align-self: center;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
				align-items: center;

        li {
          // margin: 0 4rem;
					padding: 0 2.5rem;

          a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 600;
            color: #333333ba;
            text-align: center;
            transition: all 0.4s;
						white-space: nowrap;

            &:hover {
              color: #0c0c0c;
            }
          }
        }
      }
    }
  }
}