section {
  padding: 2rem 15rem;
}

.hero {
  height: 115vh;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.529),
      rgba(0, 0, 0, 0.529)
    ),
    url("./public/images/hero_img-2.png");

  background-size: cover;
  background-position: top;
  background-color: #572302;

  .cta {
    min-width: 44rem;
    margin: 13rem 0;

    .heading {
      font-weight: 700;
      font-size: 6rem;
      color: #ffffff;
      line-height: 1.5;
    }

    .btn {
      margin-top: 5.5rem;
      padding: 15px 45px;
      font-size: 1.7rem;
      cursor: pointer;
      border-radius: 7px;
      transition: all 0.3s;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .default {
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      outline: none;

      &:hover {
        border: 2px solid #7b9a11;
        background-color: #7b9a11;
      }
    }
  }

  .scroll-icon {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.product {
  padding: 5rem 0 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 90rem;
    min-height: 41rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .intro {
      text-align: center;
      width: 43%;
      margin: 0 auto;

      h2 {
        font-weight: 800;
        font-size: 4rem;
        color: #000;
      }

      p {
        margin-top: 1rem;
        font-size: 1.6rem;
        color: #b0b0b0;
      }
    }

    .gallery {
      width: 100%;
      margin: 0 auto;

      .product-card {
        margin-top: 7rem;
        display: grid;
        grid-template-columns: repeat(3, 25rem);
        grid-gap: 5rem;

        .card {
          height: 39rem;
          overflow: hidden;
          border-radius: 5px;
          box-shadow: 0 0 0.8rem rgba($color: #000000, $alpha: 0.4);
          display: flex;
          flex-direction: column;

          img {
            width: 100%;
            height: 65%;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
          }

          h4 {
            text-align: center;
            font-weight: 700;
            font-size: 2.4rem;
            color: #000;
            margin: 2rem auto -1rem;
          }

          .btn-card {
            justify-self: center;
            font-size: 1.5rem;
            padding: 1.2rem 3.8rem;
            margin: 3rem auto;
            cursor: pointer;
            border-radius: 6px;
            transition: all 0.3s;
            color: #fff;
            border: none;
            background-color: #d02804;
            outline: none;

            &:hover {
              background-color: #b12000;
              transform: scale(1.05);
            }
          }
        }
      }
    }

    .strip {
      display: block;
      width: 80%;
      height: 1px;
      background-color: #000;
      margin: 20rem auto 3rem;
    }
  }
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: -10rem auto 5rem;
  position: relative;

  /* IN THE END */
  overflow: hidden;

  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;

    /* TESTIMONIALS */
    .testimonial {
      width: 45%;
      position: relative;

      .testimonial__text {
        font-size: 1.7rem;
        margin-bottom: 3.5rem;
        color: #666;
        text-align: center;
      }
    }

  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
  
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;

    &--left {
      left: 10%;
      transform: translate(-50%, -50%);
      border: none;
      outline: none;
    }
    
    &--right {
      right: 10%;
      transform: translate(50%, -50%);
      border: none;
      outline: none;
    }
  }
}


.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  .dots__dot {
    border: none;
    background-color: #c4c4c4;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
  
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
  
    &:last-child {
      margin: 0;
    }
    
    &--active {
      /* background-color: #fff; */
      background-color: #d02804;
      opacity: 1;
    }
  }
}

.section__title--testimonials {
  margin-bottom: 1rem;

  .section__header {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
  }
}

.resep {
  padding: 40rem 0;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.529),
      rgba(0, 0, 0, 0.529)
    ),
    url("./public/images/hero_img-1.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;

  .container {
    width: 50rem;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    .header {
      font-size: 5rem;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: #fff;
    }

    .text {
      font-weight: 200;
      font-size: 1.8rem;
      line-height: 1.3;
      text-align: center;
      color: #fff;
      margin: 4rem 0 7rem;
    }

    .btn-resep {
      padding: 15px 45px;
      font-size: 1.7rem;
      cursor: pointer;
      border-radius: 7px;
      transition: all 0.3s;
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      outline: none;
      margin: 0 10rem 0;

      &:hover {
        border: 2px solid #7b9a11;
        background-color: #7b9a11;
      }
    }
  }
}

.pembelian {
  padding: 35rem 0;
  background-color: #fff;
  position: relative;

  .container {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    .header {
      font-size: 4rem;
      font-weight: 800;
      text-align: center;
      color: #000;
      margin-bottom: 6rem;
    }

    .text {
      font-weight: 400;
      font-size: 2rem;
      color: #909090;
      text-align: center;
      margin-bottom: 7.5rem;
    }

    .logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .btn-pembelian {
      justify-self: center;
      font-size: 1.5rem;
      padding: 1.2rem 3.8rem;
      margin: 10rem auto 0;
      cursor: pointer;
      border-radius: 6px;
      transition: all 0.3s;
      color: #fff;
      border: none;
      background-color: #d02804;
      outline: none;

      &:hover {
        background-color: #b12000;
        transform: scale(1.05);
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

footer {
  padding: 3rem 0;
  background-color: #f3ede7;

  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    color: black;
    text-align: center;
  }
}

.popup {
  display: none;
}

.pembelian-popup {
  background-color: rgba(0, 0, 0, 0.31);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;

  .card {
    background-color: #fff;
    width: 50%;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    // box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.584);

    .img {
      position: absolute;
      top: 8%;
      left: 5%;
      cursor: pointer;
    }

    .container {
      width: 50rem;
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .header {
        font-weight: 700;
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 5rem;
      }

      .logos {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 6.5rem;

        .logo {
          box-sizing: border-box;
          padding: 1rem;
          border-radius: 15px;
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
          transition: all 0.3s;
          border: 1.5px solid rgb(255, 255, 255);

          &:hover {
            border: 1.5px solid rgba(208, 40, 4, 1);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
          }
        }
      }

      .text {
        font-size: 1.6rem;
        text-align: center;
        color: #919191;

        a {
          color: rgb(225, 101, 35);
          transition: color 0.2s;

          &:hover {
            color: rgb(187, 83, 26);
          }
        }
      }
    }
  }
}
