@media screen and (max-width: 910px) {

	.header__toggle {
		display: block;
		background: #f3ede7;
		z-index: 1999;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 6rem;

		.logo {
			font-size: 4rem;
		}
	}
	
	.navbar {
		position: absolute;
		transition: transform 0.3s;
		transform: translateY(-40rem);
		border: none;
	
		.container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
	
			.logo {
				display: none;
			}
	
			nav {
				align-self: flex-start;
	
				ul {
					flex-direction: column;
					align-items: flex-start;
					margin: 2rem 0;
	
					li {
						padding: 0;
						margin-top: 2rem;
						min-height: 44px;

						&:first-child {
							margin-top: 0;
						}
	
						a {
							font-weight: 700;
							font-size: 2.5rem;
							color: #0c0c0c;
						}
					}
				}
			}
		}
	}

	.open {
		transform: translateY(0);
	}

	.hero {
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
	
		.cta {
			width: 80%;

			.heading {
				text-align: center;
			}
	
			.btn, 
			.default {
				display: none;
			}
		}

		.scroll-icon {
			display: none;
		}
	}

	.product {
		.container {
	
			.intro {
	
				h2 {
					font-size: 4.5rem;
				}
	
				p {
					font-size: 1.9rem;
				}
			}
	
			.strip {
				margin: 15rem auto 3rem;
			}
		}
	}


}
